section.page-about, nav ul, nav .nav-brand, .menu-header .cv-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .cv-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 701px) and (max-width: 1024px) {
  .hide {
    display: none;
  }
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
main {
  position: relative;
}

.container {
  width: 100vw;
}

.menu-header {
  height: 100vh;
  position: relative;
  z-index: 12;
  background: #023202;
  transition: transform 0.5s ease-in;
}
.menu-header ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5rem;
}
.menu-header li {
  padding: 1rem;
}
.menu-header li a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.menu-header .cv-button {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  color: #111;
  transition: box-shadow 0.5s;
}
.menu-header .cv-button:hover {
  box-shadow: 1px 1px 1px #111;
}
@media (min-width: 701px) {
  .menu-header {
    display: none;
  }
}

.mb-menu-btn {
  width: 35px;
  height: 25px;
  background: none;
  outline: none;
  position: relative;
  border: none;
}
.mb-menu-btn .menu-btn-group span {
  transition: all 0.5s linear;
}
.mb-menu-btn .menu-btn-group span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 35px;
  height: 5px;
  background: #111;
  position: absolute;
  border-radius: 0px 2px 0px 2px;
}
.mb-menu-btn .menu-btn-group span:nth-child(2) {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0 auto;
  width: 25px;
  height: 5px;
  background: #111;
  position: absolute;
  border-radius: 2px;
}
.mb-menu-btn .menu-btn-group span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px;
  height: 5px;
  background: #111;
  position: absolute;
  border-radius: 2px 0px 2px 0px;
}
.mb-menu-btn input[type=checkbox]:checked + label span:nth-child(1) {
  animation-name: md;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.mb-menu-btn input[type=checkbox]:not(:checked) + label span:nth-child(1) {
  animation-name: mu;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes md {
  0% {
    top: 0;
  }
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}
@keyframes mu {
  0% {
    top: 0;
  }
  50% {
    transform: translateY(9px) rotate(-45deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
.mb-menu-btn input[type=checkbox] {
  display: none;
}

.page-start {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/banner-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 700px) {
  .page-start {
    background-image: url(../images/banner-mobile.jpg);
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .page-start {
    height: 150vh;
  }
}

nav {
  position: relative;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
nav .nav-brand {
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav .nav-brand {
    font-size: 1rem;
  }
}
nav ul {
  list-style-type: none;
  column-gap: 1rem;
  padding: 0;
}
@media screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav ul {
    column-gap: 0.5rem;
  }
}
nav li a {
  padding: 12px 10px;
  color: #fff;
  font-weight: 600;
  transition: background 0.5s;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav li a {
    font-size: 0.9rem;
  }
}
nav li a:hover {
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
}
nav li a:not(.cv-button) {
  border-bottom: 3px solid #111;
}
nav .cv-button {
  width: 100px;
  box-shadow: 0px 0px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  color: #111;
  transition: box-shadow 0.5s;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav .cv-button {
    width: 60px;
  }
}
nav .cv-button:hover {
  box-shadow: 1px 1px 1px #111;
}

section.page-about {
  background: #0a0301b3;
  width: 55vw;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
}
@media (min-width: 701px) {
  section.page-about {
    width: 65vw;
  }
}
section.page-about h1 {
  font-size: 8rem;
  font-weight: 700;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  filter: drop-shadow(0px 0px -3px #e9af74b3);
  color: #fff;
}
section.page-about h2,
section.page-about h3 {
  margin: 0;
  font-weight: 200;
  font-size: 1.2rem;
  color: #fff;
  filter: drop-shadow(0px 0px -3px #e9af74b3);
}
section.page-about h2 {
  padding-top: 2rem;
}
section.page-about h3 {
  padding-top: 0.5rem;
}
section.page-about p {
  margin: 0;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0px 0px -3px #e9af74b3);
  padding: 3rem 4rem 0rem 4rem;
}
section.page-about a {
  position: absolute;
  bottom: 2rem;
  margin: 0 auto;
  animation: pointer 0.8s linear infinite alternate;
}
@keyframes pointer {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}

/*# sourceMappingURL=stylesheet.css.map */
