html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, Verdana, Geneva;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 320px) {
  main {
    position: relative;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.bg-black {
  background: #212621;
}

.bg-black-dark {
  background: #181814;
}

.bg-yellow {
  background: #e9cc57;
}

.bg-gray {
  background: #f2f0e3;
}

.bg-red {
  background: #f25d26;
}

.bg-blue {
  background: #3a5d8b;
}

.bg-blue-dark {
  background: #181814;
}

.bg-green {
  background: #03a695;
}

.bg-white {
  background: floralwhite;
}

.bg-white-alt {
  background-color: #fff;
}

.bg-grey-blue {
  background: linear-gradient(to bottom, #f2f0e3, #3a5d8b, #e9cc57);
}

.bg-blue-yellow {
  background: linear-gradient(to bottom, #3a5d8b, #e9cc57, #f2f0e3);
}

@media screen and (min-width: 641px) {
  .lg-none {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .mb-none {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .mb-none {
    display: block;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 400ms ease-in-out;
  height: 80px;
  overflow: hidden;
}
.expand {
  height: 100%;
}
.expand nav {
  background: #181814;
}
.expand .menu a {
  opacity: 1;
  transform: translateY(0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 5;
  transition: all 500ms ease-out;
}
@media screen and (min-width: 320px) {
  nav {
    padding: 20px 20px 20px 3px;
  }
}
@media screen and (min-width: 641px) {
  nav {
    padding: 20px 20px 20px 3px;
  }
}
@media screen and (min-width: 1025px) {
  nav {
    padding: 20px 30px 20px 25px;
  }
}

.nav-button {
  border: none;
  outline-color: #f25d26;
  background: none;
  position: relative;
  width: 50px;
  height: 30px;
}
@media screen and (min-width: 320px) {
  .nav-button {
    right: 5px;
  }
}
@media screen and (min-width: 1025px) {
  .nav-button {
    right: 15px;
  }
}
.nav-button div {
  height: 3px;
  background: linear-gradient(to right, #212621, floralwhite, #f25d26);
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.nav-button div:nth-child(1) {
  width: 30px;
  top: 0;
  transition: all 400ms ease-in-out;
}
.nav-button div:nth-child(2) {
  width: 20px;
  top: 13.0434782609px;
  transition: all 300ms ease-in-out;
}
.nav-button div:nth-child(3) {
  width: 30px;
  bottom: 0;
  transition: all 400ms ease-in-out;
}

.open-menu div:nth-child(1) {
  top: 13.6363636364px;
}
.open-menu div:nth-child(2) {
  opacity: 0;
  width: 0;
}
.open-menu div:nth-child(3) {
  bottom: 13.6363636364px;
}

.rotate-menu div:nth-child(1) {
  transform: rotate(-45deg);
}
.rotate-menu div:nth-child(3) {
  transform: rotate(45deg);
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .nav-brand img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1025px) {
  .nav-brand img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 320px) {
  .nav-brand span {
    color: #f25d26;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1025px) {
  .nav-brand span {
    font-size: 2rem;
  }
}

.menu {
  padding: 100px 0 0 0;
}
.menu a {
  display: block;
  color: #f25d26;
  padding: 20px;
  text-decoration: underline;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  transform: translateY(-100vh);
  opacity: 0;
}
.menu a:hover {
  text-decoration: none;
}
.menu a:nth-child(1) {
  transition: all 1200ms ease-in-out;
}
.menu a:nth-child(2) {
  transition: all 1000ms ease-in-out;
}
.menu a:nth-child(3) {
  transition: all 800ms ease-in-out;
}
.menu a:nth-child(4) {
  transition: all 500ms ease-in-out;
}

@media screen and (min-width: 320px) {
  section#aboutme {
    background-image: url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
    color: floralwhite;
    height: 400px;
    line-height: 1.5;
    padding-top: 88.8888888889px;
  }
}
@media screen and (min-width: 1025px) {
  section#aboutme {
    padding-top: 112.5px;
    height: 450px;
  }
}
@media screen and (min-width: 320px) {
  section#aboutme p {
    padding: 0;
  }
}
@media screen and (min-width: 641px) {
  section#aboutme p {
    padding: 0 50px 0 50px;
  }
}
@media screen and (min-width: 801px) {
  section#aboutme p {
    padding: 0 100px 0 100px;
  }
}
@media screen and (min-width: 1025px) {
  section#aboutme p {
    padding: 0 300px 0 300px;
  }
}

@media screen and (min-width: 320px) {
  section#projects {
    padding: 20px 20px 50px 20px;
  }
}
@media screen and (min-width: 641px) {
  section#projects {
    padding: 20px 40px 50px 40px;
  }
}
@media screen and (min-width: 320px) {
  section#projects .project-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 641px) {
  section#projects .project-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 320px) {
  section#projects h1 {
    color: #3a5d8b;
    align-self: flex-start;
    font-weight: 600;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  section#projects h1 {
    font-size: 2.3rem;
  }
}

article {
  align-self: center;
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  article {
    width: 90vw;
  }
}
@media screen and (min-width: 641px) {
  article {
    width: 25rem;
  }
}
article img.project-image {
  width: 100%;
  background: floralwhite;
}
@media screen and (min-width: 320px) {
  article img.project-image {
    height: 200px;
  }
}
@media screen and (min-width: 641px) {
  article img.project-image {
    height: 250px;
  }
}

.project-desc p {
  color: #3a5d8b;
  font-weight: 500;
  font-size: 1rem;
  padding-top: 10px;
}
.project-desc a {
  display: block;
  padding: 15px;
  color: floralwhite;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  background: linear-gradient(to right, #3a5d8b, #f25d26);
  transition: all 300ms ease-in;
}
.project-desc a:hover {
  background: linear-gradient(to right, #3a5d8b, #212621);
}

section#my-stack h1 {
  color: #3a5d8b;
  font-size: 2rem;
}
@media screen and (min-width: 320px) {
  section#my-stack {
    padding: 20px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 641px) {
  section#my-stack {
    padding: 40px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  section#my-stack {
    padding: 40px;
  }
}
@media screen and (min-width: 320px) {
  section#my-stack .my-stack_container {
    padding: 30px;
  }
}
@media screen and (min-width: 641px) {
  section#my-stack .my-stack_container {
    padding: 50px;
  }
}
section#my-stack .my-stacks-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  section#my-stack .my-stacks-images {
    column-gap: 25px;
    row-gap: 30px;
  }
}
@media screen and (min-width: 320px) {
  section#my-stack .my-stacks-lg img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 801px) {
  section#my-stack .my-stacks-lg img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 320px) {
  footer {
    padding: 40px 20px 30px 20px;
  }
}
@media screen and (min-width: 641px) {
  footer {
    padding: 50px 20px 30px 20px;
  }
}
footer h1 {
  color: #f2f0e3;
}
@media screen and (min-width: 641px) {
  footer h1 {
    padding-top: 50px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 641px) {
  footer .contact-group {
    width: 300px;
    margin: 0 auto;
  }
}
footer a {
  display: block;
  font-family: arial;
  font-size: 1.5rem;
  padding: 10px 0 5px 0px;
  text-decoration: underline;
  font-weight: 500;
  color: #f2f0e3;
  transition: all 200ms ease-in;
  text-align: center;
}
@media screen and (min-width: 641px) {
  footer a:hover {
    color: #f8a586;
    text-decoration: none;
  }
}
footer p {
  margin-top: 20px;
  text-align: center;
  color: #212621;
}

/*# sourceMappingURL=styles.css.map */
