nav ul, nav .nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .cv-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 701px) and (max-width: 1024px) {
  .hide {
    display: none;
  }
}

.page-start {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/banner-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 700px) {
  .page-start {
    background-image: url(../images/banner-mobile.jpg);
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .page-start {
    height: 150vh;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
nav .nav-brand {
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav .nav-brand {
    font-size: 1rem;
  }
}
nav ul {
  list-style-type: none;
  column-gap: 1rem;
  padding: 0;
}
@media screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav ul {
    column-gap: 0.5rem;
  }
}
nav li a {
  padding: 12px 10px;
  color: #fff;
  font-weight: 600;
  transition: background 0.5s;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav li a {
    font-size: 0.9rem;
  }
}
nav li a:hover {
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
}
nav li a:not(.cv-button) {
  border-bottom: 3px solid #111;
}
nav .cv-button {
  width: 100px;
  box-shadow: 0px 0px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  color: #111;
  transition: box-shadow 0.5s;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav .cv-button {
    width: 60px;
  }
}
nav .cv-button:hover {
  box-shadow: 1px 1px 1px #111;
}

section.page-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  box-shadow: 0 -0.125em 0.25em rgba(0, 0, 0, 0.2), 0 0.25em 0.25em rgba(252, 232, 207, 0.5), 0 0 0 0.25em rgba(252, 232, 207, 0.5), 0 0.375em 0.5em rgba(252, 232, 207, 0.5) inset, 0 -0.125em 0.375em rgba(252, 232, 207, 0.4) inset, 0 -1.25em 2em 0.5em rgba(252, 232, 207, 0.3) inset, 0 1.25em 0 rgba(252, 232, 207, 0.3) inset, 0 5em 3em rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
section.page-about::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: -1;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  border-radius: 0.25em;
  box-shadow: -0.125em -0.125em 0.25em rgba(252, 232, 207, 0.5) inset, 0.3em 0.3em 0 rgba(252, 232, 207, 0.2) inset, 0.375em 0.375em 0.5em rgba(0, 0, 0, 0.3), 0.5em 0.5em 0.75em rgba(250, 209, 158, 0.7);
}
@media screen and (max-width: 700px) {
  section.page-about::before {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  section.page-about {
    width: 90vw;
    height: 70vh;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  section.page-about {
    width: 70vw;
    height: 25rem !important;
  }
}
@media screen and (max-width: 700px) {
  section.page-about h1, section.page-about h2, section.page-about h3, section.page-about p, section.page-about blockquote {
    width: 80%;
    text-align: center;
    color: #f25d26;
    text-shadow: 0px 2px 3px #fff;
  }
}
@media (min-width: 701px) {
  section.page-about {
    height: 30rem;
  }
}
@media (min-width: 701px) {
  section.page-about h1, section.page-about h2, section.page-about h3, section.page-about p, section.page-about blockquote {
    text-align: center;
    color: lightyellow;
  }
  section.page-about h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-block-start: 2rem;
    margin-block-end: 1rem;
  }
}
@media (min-width: 701px) and (orientation: landscape) and (max-height: 500px) {
  section.page-about h1 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }
}
@media (min-width: 701px) {
  section.page-about p {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 701px) and (orientation: landscape) and (max-height: 500px) {
  section.page-about p {
    width: 70%;
    margin-block-start: 0.5rem;
  }
}
@media (min-width: 701px) {
  section.page-about blockquote {
    width: 50%;
    margin: 0 auto;
    padding: 0.3rem 2rem;
    font-weight: 200;
  }
}
@media (min-width: 701px) and (orientation: landscape) and (max-height: 500px) {
  section.page-about blockquote {
    padding: 0.3rem 1rem;
    width: 70%;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
