html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Bruno Ace", "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #df9155;
  border: 5px solid #000;
}

a {
  text-decoration: none;
  color: inherit;
}

.none {
  display: none;
}

@media (min-width: 701px) and (max-width: 1024px) {
  .hide {
    display: none;
  }
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes slideIn {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
main {
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
}

.menu-header {
  height: 100vh;
  position: relative;
  z-index: 12;
  background: #023202;
  transition: transform 0.5s ease-in;
}
.menu-header ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5rem;
}
.menu-header li {
  padding: 1rem;
}
.menu-header li a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.menu-header .cv-button {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  color: #000;
  transition: box-shadow 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header .cv-button:hover {
  box-shadow: 1px 1px 1px #000;
}
@media (min-width: 701px) {
  .menu-header {
    display: none;
  }
}

.no-animation {
  -webkit-animation: none !important;
  animation: none !important;
}

.mb-menu-btn {
  width: 35px;
  height: 25px;
  background: none;
  outline: none;
  position: relative;
  border: none;
}
@media (min-width: 701px) {
  .mb-menu-btn {
    display: none;
  }
}
.mb-menu-btn .menu-btn-group span {
  transition: all 0.5s linear;
}
.mb-menu-btn .menu-btn-group span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 35px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 0px 2px 0px 2px;
}
.mb-menu-btn .menu-btn-group span:nth-child(2) {
  position: absolute;
  top: 0.68rem;
  right: 0;
  margin: 0 auto;
  width: 25px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 2px;
}
.mb-menu-btn .menu-btn-group span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 2px 0px 2px 0px;
}
.mb-menu-btn input[type=checkbox]:checked + label span:nth-child(1) {
  animation-name: md;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.mb-menu-btn input[type=checkbox]:checked + label span:nth-child(2) {
  animation-name: sc-d;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.mb-menu-btn input[type=checkbox]:checked + label span:nth-child(3) {
  animation-name: mu;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes md {
  0% {
    top: 0;
  }
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}
@keyframes sc-d {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes mu {
  0% {
    bottom: 0;
  }
  50% {
    transform: translateY(-11px) rotate(0deg);
  }
  100% {
    transform: translateY(-11px) rotate(-45deg);
  }
}
.mb-menu-btn input[type=checkbox]:not(:checked) + label span:nth-child(1) {
  animation-name: rmd;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.mb-menu-btn input[type=checkbox]:not(:checked) + label span:nth-child(2) {
  animation-name: rsc-d;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.mb-menu-btn input[type=checkbox]:not(:checked) + label span:nth-child(3) {
  animation-name: rmu;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes rmd {
  0% {
    transform: translateY(9px) rotate(45deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    top: 0;
  }
}
@keyframes rsc-d {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rmu {
  0% {
    bottom: 0;
    transform: translateY(-11px) rotate(-45deg);
  }
  50% {
    transform: translateY(-11px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
.mb-menu-btn input[type=checkbox] {
  display: none;
}

.container {
  background-image: url(../images/banner-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 700px) {
  .container {
    background-image: url(../images/banner-mobile.jpg);
    background-attachment: fixed;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 12;
  border-bottom: 5px solid #000;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
}

.mb-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  flex-direction: column;
  padding-left: 2rem;
  position: relative;
  overflow-y: hidden;
  height: 0px;
  transition: all 0.3s linear;
}
.mb-nav a {
  padding: 0.25rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.mb-nav .cv-button {
  width: 150px;
  padding: 0.5rem;
  box-shadow: 0px 0px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.5s;
}
.mb-nav .cv-button:hover {
  box-shadow: 0px 0px 1px #000;
}
@media (min-width: 701px) {
  .mb-nav {
    display: none;
  }
}

nav {
  position: relative;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  border-bottom: 1px solid #000;
}
nav .nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav .nav-brand {
    font-size: 1rem;
  }
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: 0;
}
@media screen and (max-width: 700px) {
  nav ul {
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav ul {
    column-gap: 0.5rem;
  }
}
nav li a {
  padding: 12px 10px;
  color: #fff;
  font-weight: 600;
  transition: background 0.5s;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav li a {
    font-size: 0.9rem;
  }
}
nav li a:hover {
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  border-radius: 5px;
}
nav .cv-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  box-shadow: 0px 0px 2px #fff;
  background-image: linear-gradient(-45deg, rgba(252, 232, 207, 0.8), rgba(252, 232, 207, 0.2) 67%);
  color: #000;
  transition: box-shadow 0.5s;
}
@media (min-width: 701px) and (max-width: 1024px) {
  nav .cv-button {
    width: 60px;
  }
}
nav .cv-button:hover {
  box-shadow: 1px 1px 1px #000;
}

.page-start {
  position: relative;
  width: 100%;
  height: 100vh;
}
@media (orientation: landscape) and (max-height: 500px) {
  .page-start {
    height: 250vh;
  }
}

section.page-about {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
section.page-about h1 {
  position: relative;
  margin: 3rem 0 0 0;
  font-family: "Space Grotesk", sans-serif;
  color: #f25d26;
  text-shadow: 1px 1px #df9155;
  font-size: 5rem;
  text-align: center;
}
@media screen and (max-width: 700px) {
  section.page-about h1 {
    margin: 3rem 0 0 0;
  }
}
@media (min-width: 701px) {
  section.page-about h1 {
    margin: 7rem 0 0 0;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  section.page-about h1 {
    margin: 3rem 0 0 0;
  }
}
@media screen and (max-width: 700px) {
  section.page-about h1 {
    font-size: 2.8rem;
  }
}
section.page-about h1 span {
  font-size: 7rem;
}
@media screen and (max-width: 700px) {
  section.page-about h1 span {
    font-size: 4.5rem;
  }
}
section.page-about h2 {
  position: relative;
  font-size: 3rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
  color: #f25d26;
}
@media screen and (max-width: 700px) {
  section.page-about h2 {
    font-size: 16px;
  }
}
section.page-about h2 span {
  font-size: 6rem;
  text-shadow: 1px 1px #df9155;
}
@media screen and (max-width: 700px) {
  section.page-about h2 span {
    font-size: 4rem;
  }
}
section.page-about h1, section.page-about h2 {
  font-family: "Bruno Ace", cursive;
  opacity: 0;
}
section.page-about p {
  margin: 0 auto;
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3rem;
  text-align: center;
  color: #fff;
  padding: 3rem 3rem 0 3rem;
  width: 30rem;
}
@media screen and (max-width: 700px) {
  section.page-about p {
    margin: 0 auto;
    border: 3px solid #f25d26;
  }
}
@media screen and (max-width: 700px) {
  section.page-about p {
    padding: 0.5rem;
    font-size: 0.9rem;
    width: 18rem;
    line-height: 1.2rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  section.page-about p {
    width: 25rem;
    padding: 1rem 1rem 1rem 1rem;
    border: 3px solid #f25d26;
  }
}
section.page-about a {
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: bouncer 0.8s linear infinite alternate;
}
@media screen and (max-width: 700px) {
  section.page-about a {
    bottom: 2rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  section.page-about a {
    bottom: 0.5rem;
  }
}
section.page-about a img:hover {
  filter: invert(1);
}
@keyframes bouncer {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}

.page-start::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 30rem;
  height: 100vh;
  background: #0a0301b3;
}
@media screen and (max-width: 700px) {
  .page-start::before {
    width: 18rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .page-start::before {
    height: 250vh;
  }
}

section.projects {
  padding-top: 4rem;
}
section.projects h1 {
  text-align: center;
  font-size: 3.5rem;
}
@media screen and (max-width: 700px) {
  section.projects h1 {
    font-size: 2.8rem;
  }
}

.sec-intro {
  position: relative;
  width: 25rem;
  padding: 2rem;
}
@media screen and (max-width: 700px) {
  .sec-intro {
    width: 100%;
  }
}
.sec-intro p {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1rem 1rem 4rem;
  background: #df9155;
  line-height: 1.3rem;
}
@media screen and (max-width: 700px) {
  .sec-intro p {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.sec-intro::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1rem;
  width: 100vw;
  height: 200px;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
}

.project-item {
  position: relative;
}
.project-item .side-text {
  font-family: Monoton, cursive;
  position: absolute;
  font-size: 5rem;
  top: 160px;
  z-index: -1;
  color: #f25d26;
}
@media screen and (max-width: 700px) {
  .project-item .side-text {
    font-size: 3.5rem;
    right: -100px;
    top: 120px;
  }
}
@media (min-width: 701px) {
  .project-item .side-text {
    left: -140px;
  }
}
.project-item .side-text p {
  transform: rotate(-90deg);
  font-family: Monoton, "Great Vibes", cursive, sans-serif;
}

.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 2rem 4rem 8rem;
  gap: 4rem;
}
@media screen and (max-width: 700px) {
  .project-container {
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 1rem 6rem 1rem;
  }
}
.project-container picture {
  position: relative;
  width: 60%;
  height: 25rem;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  opacity: 0;
}
@media screen and (max-width: 700px) {
  .project-container picture {
    width: 100%;
    height: 16rem;
  }
}
@media (min-width: 701px) {
  .project-container picture {
    width: 55%;
    height: 20rem;
  }
}
@media screen and (min-width: 1025px) {
  .project-container picture {
    width: 60%;
    height: 25rem;
  }
}
.project-container picture img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .project-container picture {
    width: 100%;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .project-container picture {
    width: 55%;
    height: 16rem;
  }
}
.project-container picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
  top: 3rem;
  left: -3rem;
}
@media screen and (max-width: 700px) {
  .project-container picture::before {
    top: 1.5rem;
    left: -1.5rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .project-container picture::before {
    top: 2.5rem;
    left: -2.5rem;
  }
}
.project-container article {
  width: 28%;
  height: 30rem;
  position: relative;
  opacity: 0;
}
@media screen and (max-width: 700px) {
  .project-container article {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .project-container article {
    width: 30%;
    height: 25rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .project-container article {
    width: 40%;
    height: 20rem;
  }
}
.project-container article h2 {
  padding: 2rem 0 1rem 0;
  font-size: 2.5rem;
}
@media screen and (max-width: 700px) {
  .project-container article h2 {
    padding: 0;
    font-size: 2rem;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .project-container article h2 {
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .project-container article h2 {
    padding: 0rem 0 1rem 0;
    font-size: 1.5rem;
  }
}
.project-container article p {
  padding: 2rem 0rem 4rem 0;
  line-height: 1.3rem;
  font-weight: 300;
}
@media screen and (max-width: 700px) {
  .project-container article p {
    padding: 1rem 0rem 3rem 0;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .project-container article p {
    padding: 1rem 0rem 3rem 0;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .project-container article p {
    padding: 1rem 0rem 2rem 0;
  }
}
.project-container article a {
  position: relative;
}
.project-container article a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  right: -50px;
  top: -33px;
}
.project-container article a img {
  animation-name: to-and-fro;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes to-and-fro {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}
.project-container article::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: #f25d26;
  right: -300px;
  top: 5rem;
  transform: rotate(45deg);
  z-index: -1;
}
@media screen and (max-width: 700px) {
  .project-container article::before {
    top: 4rem;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .project-container article::before {
    width: 200px;
    height: 200px;
    right: -200px;
  }
}
@media screen and (min-width: 1025px) {
  .project-container article::before {
    right: -320px;
  }
}
.project-container article::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  right: -300px;
  top: 5rem;
  transform: rotate(45deg);
  z-index: -2;
  animation: slide 10s linear infinite alternate;
}
@media screen and (max-width: 700px) {
  .project-container article::after {
    top: 4rem;
  }
}
@media (min-width: 701px) and (max-width: 1024px) {
  .project-container article::after {
    width: 200px;
    height: 200px;
    right: -200px;
  }
}
@media screen and (min-width: 1025px) {
  .project-container article::after {
    right: -320px;
  }
}
@keyframes slide {
  from {
    top: 5rem;
  }
  to {
    top: 10rem;
  }
}

.btn-link {
  width: 200px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 0.9rem;
}
.btn-link:hover {
  background: #f25d26;
  box-shadow: 0px 0px 3px 3px #f25d26;
}

.more-projects {
  margin-bottom: 4rem;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 1rem;
}
.more-projects a {
  margin: 0 auto;
  font-weight: 600;
  background: #df9155;
}

section.daily-ui {
  padding: 4rem 0 4rem 0;
}
section.daily-ui h1 {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 1.2rem;
}
section.daily-ui .ui-text {
  text-align: center;
  position: relative;
  width: 18rem;
  margin: 0 auto;
}
section.daily-ui .ui-text p {
  padding: 1rem;
  line-height: 1.3rem;
  background: #f25d26;
  font-weight: 500;
}
section.daily-ui .ui-text::before {
  content: "";
  position: absolute;
  width: 12rem;
  height: 12rem;
  background: #f25d26;
  border-radius: 20px;
  top: -40px;
  left: -100px;
  z-index: -1;
  transform: rotate(45deg);
}
section.daily-ui .ui-text::after {
  content: "";
  position: absolute;
  width: 12rem;
  height: 12rem;
  background: #f25d26;
  border-radius: 20px;
  top: -40px;
  right: -100px;
  z-index: -1;
  transform: rotate(45deg);
}

.ui-list {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 700px) {
  .ui-list {
    flex-direction: column;
  }
}
@media (min-width: 701px) {
  .ui-list {
    flex-wrap: wrap;
  }
}
.ui-list .ui-comp {
  position: relative;
  width: 18rem;
  height: 16rem;
  border: 3px solid #000;
  opacity: 0;
}
@media screen and (max-width: 700px) {
  .ui-list .ui-comp {
    width: 20rem;
  }
}
.ui-list .ui-comp .line-down {
  position: absolute;
  left: 0;
  top: 0;
  width: 4rem;
  height: 100%;
  border-right: 3px solid #000;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.ui-list .ui-comp .line-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #000;
  padding-left: 0.8rem;
}
.ui-list .ui-comp .line-up a {
  margin-left: 1.5rem;
  font-weight: 400;
  font-size: 0.9rem;
}
.ui-list .ui-comp img {
  width: 16rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 4.5rem auto;
  border: 3px solid #000;
}

section.contact {
  padding-bottom: 2rem;
}
section.contact h1 {
  font-size: 3.5rem;
  text-align: center;
}
section.contact .contact-text {
  width: 50vw;
  margin: 0 auto;
}
section.contact .contact-text p {
  padding: 2rem;
  line-height: 1.3rem;
  background: #f25d26;
  border-radius: 20px 20px 0 0;
}
section.contact .contact-info {
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media screen and (max-width: 700px) {
  section.contact .contact-info {
    flex-direction: column-reverse;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  section.contact .contact-info {
    gap: 2.5rem;
  }
}
section.contact form {
  position: relative;
  border: 3px solid #000;
  width: 25rem;
  padding: 2rem;
  background: #df9155;
}
@media screen and (max-width: 700px) {
  section.contact form {
    width: 88vw;
    padding: 1rem;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  section.contact form {
    width: 25rem;
  }
}
section.contact form .input-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
}
@media screen and (max-width: 700px) {
  section.contact form .input-group {
    row-gap: 0.5rem;
    margin-bottom: 1rem;
  }
}
section.contact form label {
  font-weight: 600;
}
section.contact form input {
  width: 100%;
  height: 3rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}
section.contact form button[type=submit] {
  font-weight: 600;
  margin: 0 auto;
  font-size: 1rem;
  background: #df9155;
}
section.contact form button[type=submit]:hover {
  background: #f25d26;
}
section.contact form textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  line-height: 1.3rem;
}
section.contact form::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  top: 3rem;
  left: -3rem;
  z-index: -1;
}
@media screen and (max-width: 700px) {
  section.contact form::before {
    top: 2rem;
  }
}

.socials {
  position: relative;
  width: 25rem;
  min-height: 42rem;
  border: 3px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #df9155;
}
@media screen and (max-width: 700px) {
  .socials {
    width: 88vw;
    height: fit-content;
  }
}
@media (orientation: landscape) and (max-height: 500px) {
  .socials {
    width: 25rem;
    height: 42rem;
  }
}
@media screen and (max-width: 700px) {
  .socials h2 {
    font-size: 1.25rem;
  }
}
.socials p {
  padding: 1rem;
  margin: 1rem;
  line-height: 1.3rem;
  text-align: center;
  border: 3px dotted #000;
  font-weight: 600;
  font-size: 0.85rem;
}
.socials .social-group {
  width: 100%;
}
.socials a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-collapse: collapse;
  border-top: 2px solid #000;
  padding: 0.5rem 1rem 0.5em 1rem;
  transition: all 0.5s;
}
.socials a:hover {
  background: #f25d26;
}
.socials .tg {
  display: none;
}

.socials::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3rem;
  right: -3rem;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
}
@media screen and (max-width: 700px) {
  .socials::before {
    top: 2rem;
  }
}

footer {
  border-top: 5px solid #000;
  background-color: #df9155;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
footer p {
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto;
  background: #df9155;
  width: fit-content;
}

/*# sourceMappingURL=stylesheet.css.map */
