$font-family: "Bruno Ace", 'Montserrat', sans-serif;
$white: #fff;
$black: #000;
$brown: #f25d26;
$wood-light: #df9155;


@mixin dash-pattern {
  background-color: $wood-light;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin dash-pattern-white {
  background-color: $white;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin btn-link {
  width: 200px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 2px solid $black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-size: 0.9rem;
  background: $wood-light;
  &:hover {
    background: $brown;
    box-shadow: 0px 0px 3px 3px $brown;
  }
}

@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin footer {
  border-top: 5px solid $black;
  @include dash-pattern;
  p {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
    background: $wood-light;
    width: fit-content;
  }
}

@mixin daily-ui-mix {

  section.daily-ui {
    padding: 4rem 0 4rem 0;
    h1 {
      font-size: 3.5rem;
      text-align: center;
      padding-bottom: 1.2rem;
    }
    .ui-text {
      text-align: center;
      position: relative;
      width: 18rem;
      margin: 0 auto;
      p {
        padding: 1rem;
        line-height: 1.3rem;
        background: $brown;
        font-weight: 500;
      }
    }
    .ui-text::before {
      content: '';
      position: absolute;
      width: 12rem;
      height: 12rem;
      background: $brown;
      border-radius: 20px;
      top: -40px;
      left: -100px;
      z-index: -1;
      transform: rotate(45deg);
    }
    .ui-text::after {
      content: '';
      position: absolute;
      width: 12rem;
      height: 12rem;
      background: $brown;
      border-radius: 20px;
      top: -40px;
      right: -100px;
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  .ui-list {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;

    @include mobile {
      flex-direction: column;
    }
    @include tablet-x {
      flex-wrap: wrap;
    }

    .ui-comp {
      position: relative;
      width: 18rem;
      height: 16rem;
      border: 3px solid $black;
      //opacity: 0;
      @include mobile {
        width: 20rem;
      }
      .line-down {
        position: absolute;
        left: 0;
        top: 0;
        width: 4rem;
        height: 100%;
        border-right: 3px solid $black;
        @include dash-pattern;
      }
      .line-up {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4rem;
        font-weight: 100;
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 3px solid $black;
        padding-left: 0.8rem;
      }
      .line-up a {
        margin-left: 2rem;
        font-weight: 400;
        font-size: 0.9rem;
        @include btn-link;
      }

      img {
        width: 16rem;
        height: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 4.5rem auto;
        border: 3px solid $black;
      }
    }
  }
}