$font-family: 'Montserrat', sans-serif;
$page-start-bg-image: '../images/banner-1.jpg';
$page-start-bg-image-mobile: '../images/banner-mobile.jpg';

$white: #fff;
$white-transparent: #fffa;
$black: #111;
$brown: #f25d26;
$wood-light: #df9155;
$black-transparent: #0a0301b3;
$nav-brand-font-size: 1.5rem;
$nav-a-border: 3px solid $black;
$h: 33;
$s: 90%;
$l: 90%;

@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $font-family;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin mobile {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 701px) and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-x {
  @media (min-width: 701px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) and (max-height: 500px) {
    @content;
  }
}

.hide {
  @include tablet {
    display: none;
  }
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  position: relative;
  border: 5px solid $black;
}
.container {
  width: 100%;
}

.menu-header {
  height: 100vh;
  position: relative;
  //top: 0;
  //right: 0;
  //bottom: 0;
  z-index: 12;
  background: #023202;
  //transform: translateX(400px);
  transition: transform 0.5s ease-in;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5rem;
  }
  li {
    padding: 1rem;
  }
  li a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .cv-button {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px $white;
    background-image: linear-gradient(-45deg,hsla($h, $s, $l,0.8),hsla($h, $s, $l,0.2) 67%);
    color: $black;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 1px 1px 1px $black;
    }
    @include flex-c;
  }



  @include tablet-x {
    display: none;
  }

}

.no-animation {
  -webkit-animation: none;
  animation: none;
}

.mb-menu-btn {
  @include tablet-x {
    display: none;
  }
  width: 35px;
  height: 25px;
  background: none;
  outline: none;
  position: relative;
  border: none;
  .menu-btn-group {

    span {
      transition: all 0.5s linear;
    }
    span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 35px;
      height: 5px;
      background: $black;
      position: absolute;
      border-radius: 0px 2px 0px 2px;
    }
    span:nth-child(2) {
      position: absolute;
      top: 10px;
      right: 0;
      margin: 0 auto;
      width: 25px;
      height: 5px;
      background: $black;
      position: absolute;
      border-radius: 2px;
    }
    span:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 35px;
      height: 5px;
      background: $black;
      position: absolute;
      border-radius: 2px 0px 2px 0px;
    }
  }

  input[type="checkbox"]:checked + label {
    span:nth-child(1) {
      animation-name: md;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }

    span:nth-child(2) {
      animation-name: sc-d;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }
    span:nth-child(3) {
      animation-name: mu;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      animation-timing-function: linear;
    }

  }

  input[type="checkbox"]:not(:checked) + label {
    span:nth-child(1) {

    }

    span:nth-child(2) {

    }
    span:nth-child(3) {

    }
  }

  @keyframes md {
    0% {
      top: 0;
    }
    50% {
      transform: translateY(9px);
    }
    100% {
      transform: translateY(9px) rotate(45deg);
    }
  }
  @keyframes sc-d {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes mu {
    0% {
      bottom: 0;
    }
    50% {
      transform: translateY(-9px) rotate(0deg);;
    }
    100% {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  input[type="checkbox"] {
    display: none;
  }
}

.container {
  background: {
    image: url(#{$page-start-bg-image});
    position: center;
    size: cover;
    repeat: no-repeat;
  };
  @include mobile {
    background-image: url(#{$page-start-bg-image-mobile});
  }
}

header {
  position: relative;
  border-bottom: 5px solid $black;
  display: flex;
  flex-direction: column;
  background: {
    image: linear-gradient(hsla(0,0%,0%,0.2),hsla(0,0%,0%,0));
  }
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
}
.mb-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 1rem;
  flex-direction: column;
  padding-left: 2rem;
  position: relative;
  overflow-y: hidden;
  height: 0px;
  transition: all 0.3s linear;
  a {
    padding: 0.25rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  @include tablet-x {
    display: none;
  }
}
nav {
  position: relative;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  border-bottom: 1px solid $black;

  .nav-brand {
    @include flex-c;
    font-weight: 600;
    color: $white;
    font-size: $nav-brand-font-size;
    @include tablet {
      font-size: 1rem;
    }
  }

  ul {
    list-style-type: none;
    @include flex-c;
    column-gap: 1rem;
    @include mobile {
      display: none;
    }
    @include tablet {
      column-gap: 0.5rem;
    }
    padding: 0;
  }
  li a {
    padding: 12px 10px;
    color: $white;
    font-weight: 600;
    transition: background 0.5s;
    @include tablet {
      font-size: 0.9rem;
    }
    &:hover {
      background-image: linear-gradient(-45deg,hsla($h, $s, $l,0.8),hsla($h, $s, $l,0.2) 67%);
      border-radius: 5px;
    }
  }
  li a:not(.cv-button) {
    //border-bottom: $nav-a-border;
  }
  .cv-button {
    @include flex-a;
    width: 100px;
    @include tablet {
      width: 60px;
    }
    box-shadow: 0px 0px 2px $white;
    background-image: linear-gradient(-45deg,hsla($h, $s, $l,0.8),hsla($h, $s, $l,0.2) 67%);
    color: $black;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 1px 1px 1px $black;
    }
  }
}

.page-start {
  position: relative;
  width: 100%;
  height: 100vh;

  @include landscape {
    height: 150vh;
  }
}

section.page-about {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  h1 {
    position: relative;
    margin: 3rem 0 0 0;
    @include mobile {
      margin: 5rem 0 0 0;
    }
    @include tablet-x {
      margin: 7rem 0 0 0;
    }
    @include landscape {
      margin: 3rem 0 0 0;
    }
    font-family: 'Space Grotesk', sans-serif;
    color: $brown;
    text-shadow: 1px 1px #df9155;
    font-size: 5rem;
    text-align: center;
    @include mobile {
      font-size: 4rem;
    }
    span {
      font-size: 7rem;
      @include mobile {
        font-size: 6rem;
      }
    }
  }

  h2 {
    position: relative;
    font-size: 3rem;
    @include mobile {
      font-size: 25px;
    }
    span {
      font-size: 6rem;
      text-shadow: 1px 1px #df9155;
      @include mobile {
        font-size: 4rem;
      }
    }
    margin: 0;
    text-align: center;
    font-weight: 700;
    color: $brown;

  }
  h1, h2 {
    font-family: cursive;
  }
  p {
    margin: 0 auto;
    @include mobile {
      margin: 2.5rem auto;
    }
    text-align: center;
    color: $white;
    padding: 3rem 4rem 0rem 4rem;
    width: 30rem;
    @include mobile {
      width: 100%;
    }
    line-height: 1.3rem;

  }
  a {
    position: absolute;
    bottom: 5rem;
    @include landscape {
      bottom: 3rem;
    }
    width: 5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: bouncer 0.8s linear infinite alternate;
  }
  a img:hover {
    filter: invert(1);
  }

  @keyframes bouncer {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(10px);
    }
  }

}

.page-start::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 30rem;
  @include mobile {
    width: 18rem;
  }
  height: 100vh;
  background: $black-transparent;
  @include landscape {
    height: 150vh;
  }
}